/*@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url(/docs/src/fonts/PressStart2P-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}*/

html {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P';
}

h1 {
    margin: 10px;
    padding: 10px;
    color: #D5C251;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
    text-decoration-color: #D5C251;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
}

body {
    margin: 5px;
    padding: 10px;
    background: linear-gradient(0deg, #6e5553 20%, #dac862 50%, #FAFAF9 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.nes-badge,
.nes-btn.is-primary,
span.is-error {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nes-container.with-title {
    margin: 50px;
    padding: auto;
    background: #dac862;
    display: flex;
    flex-direction: column;
}

.li {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nes-text.is-primary {
    margin-left: 50px;
    padding: 5px;
    color: #FAFAF9;
    display: flex;
    flex-direction: column;
}


/*
.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
*/


/*.li {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/