/*@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url(/docs/src/fonts/PressStart2P-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}*/

html {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P';
}

h1 {
    margin: 10px;
    padding: 10px;
    color: #294668;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
    text-decoration-color: #294668;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
}

body {
    margin: 5px;
    padding: 10px;
    background: linear-gradient(0deg, #30223C 0%, #625984 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.nes-btn.is-primary {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.is-dark,
span.is-error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nes-container.with-title {
    margin: 50px;
    padding: auto;
    background: #a975ba;
}


/*.nes {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.nes-text.is-primary {
    margin-left: 50px;
    padding: 5px;
    color: #FAFAF9;
    display: flex;
    flex-direction: column;
}


/*.li {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/