/*@font-face {
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(../src/fonts/pressstart2p-regular-webfont.woff) format('woff'), url(../src/fonts/pressstart2p-regular-webfont.woff2) format('woff2'), url(../src/fonts/PressStart2P-Regular.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/

html {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 24px;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(-15deg, #ff00aa 0%, #00eeff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 15px;
    padding: 5px;
    /*background: linear-gradient(125deg, #0f2027, #203a43, #2c5364);
    W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    padding: 15px;
}

.nes-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    background: linear-gradient(-15deg, #ff00aa 0%, #00eeff 100%);
}

.nes-btn.is-primary,
.nes-btn.is-success,
.nes-btn.is-error {
    margin: 10px;
}


/*
Environmental Science - Soil, Water and Biodiversity (EnvEuro)
University of Hohenheim • Stuttgart:
https://www2.daad.de/deutschland/studienangebote/international-programmes/en/detail/4564/

Applied & Environmental Geoscience (AEG)
University of Tübingen • Tübingen:
https://www2.daad.de/deutschland/studienangebote/international-programmes/en/detail/3791/

Environmental Geography
University of Bayreuth • Bayreuth:
https://www2.daad.de/deutschland/studienangebote/international-programmes/en/detail/5246/
*/